{% set relatedChannel =  relatedChannel ?? null %}

<div class="flex flex-nowrap">
    <a class="btn" href="/admin/entries/{{ relatedChannel }}" target="_blank">View All</a>
    <br>
    <a class="btn" href="/admin/entries/{{ relatedChannel }}/new?fresh=1" target="_blank">Add New</a>
</div>