{% import "_includes/forms" as forms %}

{% set channelOptions = options ?? null %}
{% set value = "channel1" %}
{% set disabled = false %}
{% set errors = [] %}


<fieldset>
    <legend class="h6">Structure Plus</legend>
    <div class="meta">
        <div id="channel-field" class="field" data-attribute="enabled">
            <div class="heading"><label id="channel-label" for="enabled">Link Channel</label></div>
            <div class="input ltr">
                {{ forms.select({
                    id: "channelId",
                    name: "channelId",
                    options: channelOptions,
                    value: value,
                    class: "",
                    errors: errors  ,
                    disabled: disabled,
                }) }}
            </div>
        </div>
    </div>
</fieldset>