{% import "_includes/forms" as forms %}

{% set channelOptions = {
    channel1: "Channel 1"|t("structure-plus"),
    channel2: "Channel 2"|t("structure-plus"),
    channel3: "Channel 3"|t("structure-plus"),
    channel4: "Channel 4"|t("structure-plus"),
    channel5: "Channel 5"|t("structure-plus"),
} %}

{% set value = "channel1" %}

{% set disabled = false %}

{% set errors = [] %}


<fieldset>
    <legend class="h6">Structure Plus</legend>
    <div class="meta">
        <div id="channel-field" class="field" data-attribute="enabled">
            <div class="heading"><label id="channel-label" for="enabled">Link Channel</label></div>
            <div class="input ltr">
                {{ forms.select({
                    id: "channelSelect",
                    name: "channelSelect",
                    options: channelOptions,
                    value: value,
                    class: "",
                    errors: errors  ,
                    disabled: disabled,
                }) }}
            </div>
        </div>
    </div>
</fieldset>